pre > code > span.syntaxx-grid > span:nth-of-type(odd),
pre > code > span.syntaxx-grid > span.syntaxx-linenumber {
  padding: 0 0.5em;
  text-align: right;
  user-select: none;
  background-color: #CCC;
  margin-bottom: 1px;
  margin-right: 5px;
}

pre > code > span.syntaxx-grid > span:nth-of-type(even),
pre > code > span.syntaxx-grid > span.syntaxx-line {
  padding-left: 1em;
  text-indent: -1em;
}
